<div class="content center">
  <div class="main blue_gray-bg">
    <%= render 'landing/main_page' %>
  </div>
  <div class="gap">

  </div>
  <div class="experience-page blue_gray-bg">
    <%= render 'experience/experience' %>
  </div>
  <div class="gap"></div>
  <div class="projects-page blue_gray-bg" >
    <%= render 'projects/projects' %>
  </div>
  <div class="gap"></div>
  <div class="resume-page blue_gray-bg">
    <%= render 'resumes/resume_page' %>
  </div>
  <div class="contact-page dk_blue_gray-bg">
    <%= render 'contact/contact' %>
  </div>

</div>
