<div class="row">
  <div class="col-md-4 exp-logo">
    <%= image_tag image, class: 'pull-right' %>
  </div>
  <div class="col-md-8 about-exp">
    <strong class="font-20"><%= title %></strong><br>
    <% if place_location %>
        <strong class="font-18"><%= place_location %></strong> <% if start_date && end_date %> <strong class="font-18 pull-right"> <%= "#{start_date} - #{end_date}" %></strong> <% end  %>
    <% end %>
    <% if github_url %>
        <%= link_to github_url, class: 'font-18 black'  do %> <span class="fa fa-github font-18"> <%= github_url.gsub('https://www.github.com', '') %></span><% end %>
    <% end %>
    <br>
    <br>
    <p> <%= description %></p>
    <br>
    <br>
  </div>
</div>